.setting{
    display: flex;
}

.settingwrapper{
    flex:9;
    padding: 20px;
}
.settingtitle{
display: flex;
align-items: center;
justify-content: space-between;
}

.settingtitleupdate{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}
.settingtitledelete{
    color: rgb(240, 107, 107);
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
}

.settingform{
    display: flex;
    flex-direction: column;
}
.settingpp{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.settingpp>img{
    height: 70px;
    width: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingppicon{
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    background-color: lightcoral;
    cursor: pointer;
}

.settingppbutton:focus{
    outline-style: none;
}

.settingform>label{
    font-size: 20px;
    margin-top: 20px;
}
.settingppinput{
    width: 30%;
}
.settingform>input{

    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;

}

.settingsubmitbutton{
    align-self: center;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.settingsubmitbutton  :hover{
    background-color: rgb(1, 114, 114);
}